@model SiteCCZ.Models.Postsblog

@{
    ViewData["Title"] = "Create";
}

<h1>Criar post</h1>

<h4>Posts blog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataPublicacao" class="control-label">Data de publicação</label>
                <input asp-for="DataPublicacao" class="form-control" type="date" required/>
                <span asp-validation-for="DataPublicacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Autor" class="control-label"></label>
                <input asp-for="Autor" class="form-control" required/>
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" required/>
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OlhoPost" class="control-label"></label>
                <textarea asp-for="OlhoPost" class="form-control" maxlength="200" required></textarea>
                <span asp-validation-for="OlhoPost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conteudo" class="control-label">Conteúdo do post</label>
                <textarea asp-for="Conteudo" class="form-control" maxlength="5000" required></textarea>
                <span asp-validation-for="Conteudo" class="text-danger" style="white-space: pre-line"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label">Foto</label>
                <input asp-for="Foto" type="file" class="form-control-file" accept=".jpg,.jpeg,.png" required />
                <span asp-validation-for="Foto" class="text-danger"></span>
                <img src="" class="img-fluid" id='PreviewFoto' />
            </div>

            <div class="form-group">
                <label asp-for="DescricaoImagem" class="control-label">Descrição da imagem (Acessibilidade)</label>
                <input asp-for="DescricaoImagem" class="form-control" required/>
                <span asp-validation-for="DescricaoImagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista de posts</a>
</div>

 <!-- Script de imagem (create animalccz) -->
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script type="text/javascript">
            window.addEventListener('load', function() {
                document.querySelector('input[type="file"]').addEventListener('change', function () {
                    if (this.files && this.files[0]) {
                        var img = document.getElementById('PreviewFoto');
                        img.scr = URL.createObjectURL(this.files[0];)
                    }
                });
            });
        </script>
    }
