@model SiteCCZ.Models.Animaisccz

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar informações</h1>

<h4>Animaisccz</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAnimal" />
            <div class="form-group">
                <label asp-for="Especie" class="control-label"></label>
                <input asp-for="Especie" class="form-control" />
                <span asp-validation-for="Especie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <input asp-for="Sexo" class="form-control" />
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label">Imagem do animal</label>
                <input asp-for="Foto" type="file" name="pic" class="file-chooser form-control" value="@ViewData["filelocation"]" accept="image/*" required />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div> 

            <img class="preview-img" src="@ViewData["filelocation"]?ver=1.3" />
            
            <div class="form-group">
                <label asp-for="IdadeAprox" class="control-label"></label>
                <input asp-for="IdadeAprox" class="form-control" />
                <span asp-validation-for="IdadeAprox" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Porte" class="control-label"></label>
                <input asp-for="Porte" class="form-control" />
                <span asp-validation-for="Porte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cor" class="control-label"></label>
                <input asp-for="Cor" class="form-control" />
                <span asp-validation-for="Cor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Raca" class="control-label"></label>
                <input asp-for="Raca" class="form-control" />
                <span asp-validation-for="Raca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Historia" class="control-label"></label>
                <input asp-for="Historia" class="form-control" />
                <span asp-validation-for="Historia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusAnimal" class="control-label"></label>
                <input asp-for="StatusAnimal" class="form-control" />
                <span asp-validation-for="StatusAnimal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adotavel" class="control-label"></label>
                <input asp-for="Adotavel" class="form-control" />
                <span asp-validation-for="Adotavel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista de animais</a>
</div>

<!-- Script para pré-visualização de imagem -->
<script>
    const $ = document.querySelector.bind(document);
    const previewImg = $('.preview-img');
    const fileChooser = $('.file-chooser');

    fileChooser.onchange = e => {
        const fileToUpload = e.target.files.item(0);
        const reader = new FileReader();

        reader.onload = e => previewImg.src = e.target.result;

        reader.readAsDataURL(fileToUpload);
    };
</script>
